.startButton{
   display: flex;
   flex-direction: column;
   justify-content:flex-start;
   align-items: flex-start;
   margin-top: 20px;
   margin-left: 20px;
}

// .backgroundImage{
//    background-size: cover;
//    min-height: 100vh;
//    background-position: center;
//    background-color: $background-color;
//    overflow: hidden;
//    background-size: cover;
//  }