.header-logo {
    display: flex;
    justify-items: flex-end;
    align-items: flex-end;
    height:80px;
    width:400px;
  }

.header-banner{
  display:flex;
  justify-items: center;
  align-items: center;
  padding: 0px;
  width:100%;
}