@font-face {
    font-family:"OpenSansBold";
    src: url ('../assets/images/OpenSans-Bold.ttf') format("truetype");
  }
  
  @font-face {
    font-family:"OpenSansLight";
    src: url ('../assets/images/OpenSans-Light.ttf') format("truetype");
  }
  
  @font-face {
    font-family:"OpenSansRegular";
    src: url ('../assets/images/OpenSans-Regular.ttf') format("truetype");
  }